body {
  color: #454545;
  font-family: 'Open Sans', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 140%;
  display: block;
  margin: 8px;
}

#container {
  width: 700px;
  margin: 0 auto;
}

div {
  display: block;
}

#header {
  display: block;
  width: 100%;
  padding: 50px 0 30px;
}

#header .profile-image {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#header .profile-image img {
  position: absolute;
  left: -20px;
  width: 340px;
  height: auto;
}

#about {
  text-align: center;
}

.section {
  clear: both;
}

#about .name {
  font-size: 110%;
}

#about p {
  font-size: 90%;
  color: #666;
}

#service-links {
  margin-top: 40px;
  text-align: center;
}

#service-links ul {
  padding: 0;
}

#service-links ul li {
  display: inline-block;
  width: 50px;
  margin: 0 3px;
  text-align: center;
}

#service-links ul li img {
  height: 40px;
}

@media (max-width: 767px) {
  #container {
    width: 90%;
  }

  #header {
    padding-top: 40px;
  }

  #service-links {
    margin-top: 30px;
  }
}

#works dl {
  margin-left: 0.5em;
}

#works dl dt {
  font-size: 120%;
  height: 35px;
}

#works dl dt a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
}

#works dl dd {
  color: #888;
}

#works .repos-list {
  margin-top: 40px;
}