@charset "UTF-8";

body {
  color: #454545;
  line-height: 130%;
  font-family: 'Open Sans', 'Arial', 'Helvetica', '?????? Pro W3', 'Hiragino Kaku Gothic Pro', '????', Meiryo, '?? ?????', 'MS PGothic', sans-serif;
  font-size: 140%;
}

a {
  text-decoration: none;
}

a:link {
  color: #256fba;
}

a:visited {
  color: #458fda;
}

a img {
  border: none;
}

p {
  margin: 10px 0;
}

#container {
  width: 700px;
  margin: 0 auto;
}

#header {
  display: block;
  width: 100%;
  padding: 50px 0 30px;
}

#header .profile-image {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#header .profile-image img {
  position: absolute;
  left: -20px;
  width: 340px;
  height: auto;
}

h2 {
  margin: 55px 0 20px 0;
  line-height: 130%;
}

h2 a {
  color: #454545 !important;
}

.section {
  clear: both;
}

a.icon {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
}

#about {
  text-align: center;
}

#about .name {
  font-size: 110%;
}

#about .name .english {
  color: #bbb;
  font-size: 80%;
}

#about p {
  font-size: 90%;
  color: #666;
}

#service-links {
  margin-top: 40px;
  text-align: center;
}

#service-links ul {
  padding: 0;
}

#service-links ul li {
  display: inline-block;
  width: 50px;
  margin: 0 3px;
  text-align: center;
}

#service-links ul li img {
  height: 40px;
}

#works dl {
  margin-left: 0.5em;
}

#works dl dt {
  font-size: 120%;
  height: 35px;
}

#works dl dt a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
}

#works dl dd {
  color: #888;
}

#works .repos-list {
  margin-top: 40px;
}

@media (max-width: 767px) {
  #container {
    width: 90%;
  }

  #header {
    padding-top: 40px;
  }

  #service-links {
    margin-top: 30px;
  }

  h2 {
    margin: 30px 0 10px 0;
  }

  #works dl {
    margin-left: 0;
  }

  #works dl dd {
    margin-left: 0.5em;
  }

  #works .repos-list {
    margin-top: 20px;
  }
}